flask
langchain==0.1.16
langchain-community
tiktoken
pinecone-client==3.0.0
langchain-openai
torch==1.13.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
transformers==4.26.1 
sentence-transformers>=2.0.0 
wget 
mmh3 
nltk 
numpy 
requests 
types-requests 
python-dotenv
